.wrapper{
    background: url('../images/tree-background.png');
    height: -webkit-fill-available;

}

.number{
    position: absolute;
    top: 29px;
    left: 26px;
    right: 0px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 62px;
    color: greenyellow;
}